RewriteEngine On

# If the requested filename is NOT a real file (like an image or CSS)
RewriteCond %{REQUEST_FILENAME} !-f
# And the requested filename is NOT a real directory
RewriteCond %{REQUEST_FILENAME} !-d

# Send the request to index.php
RewriteRule ^(.*)$ index.php [L]